
<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://cdn.sstatic.net/stackoverflow/img/favicon.ico">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-white">Hello! Thanks for visiting. My name is Rohan Batra, a sophomore at the University of Michigan, Ann Arbor. This is a web-application I developed of bike share data within the city of Los Angeles, California. This app aims to illustrate 3 important points, which include:
              <p class="text-white" >1) Most popular start/stop stations
              <p class="text-white" >2) The average distance traveled 
          	  <p class="text-white" >3) How many riders include bike sharing as a regular part of their commute?
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.linkedin.com/in/rohan-batra-b92699111" target="_blank" class="text-white">Connect on Linkedin</a></li>
                <li><a href="mailto:batrar@umich.edu" target="_top" class="text-white"> Email me</a></li>
                <li><a href="https://www.capitalone.com/" target="_blank" class="text-white">Link to Capital One</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-center">
          <a href="#" class="navbar-brand d-flex align-items-center">
           <img class src= "https://assets.themuse.com/uploaded/companies/901/small_logo.png?v=bc386caca24fd3bd38c400fa365214bc861f681b4dc997a9d4ec4c1e35f46679"  width="150" height=75" ></svg>
          
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center bg-warning">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome!</h1>
          <p class="lead text-dark">My name is Rohan Batra and here is my web-app for bike share data. I integrated Matplotlib, Seaborn, Pandas, Bootstrap, Flask for the visualizations, constructing models, and web programming. Check it out!</p>
          <p>
            <a href="#" class="btn btn-danger my-2">About Me</a>
          </p>
        </div>
      </section>

      <div class="album py-6 bg-light">
        <div class="container">

          <div class="row ">
            <div class="col-md-6">
              <div class="card mb-5 shadow-sm bg-warning">
                <img class src="https://image.ibb.co/h8Wx00/popular-ID-start.png"  >
                <div class="card-body">
                  <p class="card-text">The graph above illustrates the most common starting stations ID's. Most popular stations occured during the fall season in LA. For example, station 3069 was used between the months of  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Just Viewed</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-6 shadow-sm bg-warning">
                <img class src="https://image.ibb.co/h8Wx00/popular-ID-start.png" >

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Just Viewed</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 shadow-sm bg-warning ">
				<img src="https://preview.ibb.co/k0L700/Screen-Shot-2018-11-04-at-1-55-06-AM.png" >               
				<div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    
                      <a class="btn btn-outline-danger" href="https://goo.gl/maps/GUGGnERvpPv">Open Map</a>
                     
                    </div>
                    <small class="text-muted">Just Viewed</small>
                  </div>
                </div>
              </div>
            </div>
           

              <div class="col-md-6">
              <div class="card mb-4 shadow-sm bg-warning ">
				<img src="https://preview.ibb.co/gzkzhf/trial.png">              
				<div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    
                      <a class="btn btn-outline-danger" href="https://goo.gl/maps/GUGGnERvpPv">Open Map</a>
                     
                    </div>
                    <small class="text-muted">Just Viewed</small>
                  </div>
                </div>
              </div>
            </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
